.posin{
	width: 50%;
	height: 200px;
	position: static;
	float: left;
	background-color: red;
}
.posin1{
	width: 50%;
	height: 200px;
	position: static;
	float: right;
	background-color: green;
}
.posin2{
	width: 50%;
	height: 200px;
	position: static;
	float: left;
	background-color: blue;
}
/* This is the css os Task 2 position 2*/
.ha{
	width: 20%;
	height: 200px;
	position: static;
	background-color:green;
}
.ha1{
	width: 20%;
	height: 200px;
	position: static;
	background-color:blue;
}
.ha2{
	width: 20%;
	height: 200px;
	position: static;
	background-color: red;
}
/* This is css of position 3 TAsk 3*/
.hi{
	width: 73%;
	height: 200px;
	position: static;
	background-color: pink;
}
div.relative{
	width: 30%;
	height: 200px;
	position: relative;
	left: 973px;
	background-color: green;
}
.hi1{
	width: 73%;
	height: 200px;
	position: static;
	background-color: rgb(255,165,71);
}
/* This is css position 4 Task 1*/
.gre{
	width: 75%;
	height: 500px;
	background-color: rgb(255,100,196);
}
.absolute{
	width: 25%;
	height: 500px;
	right: 4px;
	position: absolute;
	top: 127px;
	background-color: rgb(189,125,147);
}
/* This is css position 5 Task 1*/
.relative12{
	width: 15%;
	height: 120px;
	position: relative;
	top: 0px;
	background-color: blue;
}
.d1{
	width: 15%;
	height: 120px;
	position: relative;
	top: 350px;
	background-color: red;
}
.d2{
	width: 100%;
	height: 120px;
	position: relative;
	left: 1111px;
	top: 0px;
	background-color: rgb(165,155,189);
}
.d3{
	width: 100%;
	height: 120px;
	position: relative;
	left: 1111px;
	top: 0px;
	bottom: 100px;
	background-color: rgb(165,155,255);
}
/*This is css of position 6 Task 1*/
.nav{
	width: 70%;
	height: 600px;
	position: relative;
	border: 1px solid black;
	background-color: green;
}
.nav1{
	width: 94%;
	height: 550px;
	position: relative;
	left: 29px;
	top: 20px;
	border: 1px solid black;
	background-color: gray;
}
.nav2{
	width: 90%;
	height: 500px;
	left: 40px;
	top: 25px;
	position: relative;
	border: 1px solid black;
	background-color: blue;
}
.nav3{
	width: 84%;
	height: 450px;
	position: relative;
	left: 60px;
	top: 30px;
	border: 1px solid black;
	background-color: rgb(233,150,133);
}.nav4{
	width: 80%;
	height: 400px;
	position: relative;
	left: 70px;
	top: 22px;
	border: 1px solid black;
	background-color: rgb(178,34,34);
}
.nav5{
	width: 74%;
	height: 350px;
	position: relative;
	left: 60px;
	top: 21px;
	border: 1px solid black;
	background-color: rgb(233,150,133);
}
.nav6{
	width: 70%;
	height: 300px;
	position: relative;
	left: 50px;
	top: 20px;
	border: 1px solid black;
	background-color: rgb(233,133,150);
}
.nav7{
	width: 65%;
	height: 150px;
	position: relative;
	left: 47px;
	top: 83px;
	border: 1px solid black;
	background-color: rgb(133,149,155);
}
/* This is the css of position 7 Task 1 */
.si{
	width: 99.7%;
	height: 60px;
	position: absolute;
	bottom: 1px;
	left: 2px;
	background-color: rgb(145,190,122);
}

.sri1{
	width: 10%;
	height: 106px;
	position: relative;
	left: 185px;
	top: 369px;
	background-color:  red;
}
.sri3{
	width: 3%;
	border-radius: 0px 0px 0px 250px;
	position: relative;
	border: 83px solid blue;
	bottom: 230px;
	left: 1150px;
	background-color: blue;
}
/* This is css of Task 3 */
.kits{
	font-family: PT Serif , IM Fell French Canon SC ;
}